.search-page {
  //   border: 1px solid red;
  width: 60%;
  margin: 3rem auto;
}

.search {
  .search-form {
    label {
      display: block;
      font-size: 1.7rem;
      font-family: var(--roboto-slab);
      margin-bottom: 1rem;
      color: rgb(0, 149, 255);
      font-weight: 500;
    }

    input {
      width: 80%;
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      font-family: sans-serif;
      background-color: transparent;
      border: none;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.611);
      outline: none;
      margin-right: 2rem;

      &:not(:placeholder-shown),
      &:focus {
        border-bottom: 1px solid rgb(0, 149, 255);
      }
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      font-family: var(--roboto-slab);
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid rgb(0, 149, 255);
      background-color: transparent;
      color: rgb(0, 149, 255);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border-radius: 0.5rem;
      transform: scale(1);

      &:hover {
        background-color: rgb(0, 149, 255);
        color: white;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .results {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    .result {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.5rem;
      padding: 0.5rem;
      padding-right: 1rem;
      background-color: rgba(255, 255, 255, 0.054);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .info {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;

        img {
          border-radius: 50%;
        }

        .name {
          font-size: 1.5rem;
          font-family: var(--roboto-slab);
          color: white;
        }
      }

      .connect {
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: bold;
        padding: 0.5rem 1rem;
        background-color: rgb(0, 149, 255);
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transform: scale(1);

        &:hover {
          background-color: rgb(0, 149, 255, 0.8);
        }

        &:active {
          transform: scale(0.9);
        }
      }

      .connected {
        display: flex;
        align-items: center;
        font-family: var(--roboto-slab);
        color: rgb(0, 149, 255);
      }
    }
  }

  .loading-results {
    .avatar {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.139);
      animation: pulse 1s infinite ease-in-out alternate;
    }

    .name {
      width: 60%;
      height: 2.2rem;
      background-color: rgba(255, 255, 255, 0.139);
      border-radius: 0.2rem;
      animation: pulse 1s infinite ease-in-out alternate;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  width: 70rem;
  background-color: rgba(0, 0, 0, 0.698);
  border: 1px solid rgb(2, 87, 147);
  height: 90%;
  top: 3%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  z-index: 100;
  border-radius: 0.5rem;
  padding: 2rem;
  opacity: 0;
  // transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform-origin: top center;

  &.visible {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  .close {
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1);

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 99;
}
