.side-navbar {
  width: 20%;
  height: 100%;
  left: 0;
  background-color: rgb(0, 14, 45);

  hr {
    border: 1px solid rgba(255, 255, 255, 0.484);
    margin: 0 2rem;
  }

  .logo {
    display: block;
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
    text-decoration: none;
    @include logoColor();
  }

  .links {
    .link-section {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.769);
        font-size: 1.5rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        font-family: sans-serif;
        font-weight: bold;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      a.active {
        @include mainGradient();
      }
    }
  }
}
